    <head>
        <meta charset="UTF-8" />
        <title>Hello smartass</title>
        <link rel="stylesheet" href="../style.css" />
    </head>

    <body>
        <div class="container">
          <p> 
            Does it really go away tho? <br>
            I'm not an happy person. <br>
            I'm not sad. <br>
            But I'm not bubbly, or visibly excited. <br>
            I definetely <i> feel</i> things, but I have a hard time showing it. <br>
            People think I'm rude or stoic or apathetic. 
          </p>
          <p>
            Or at least that's what I think people think of me. <br>
            That's what I think of me. How I perceive things when I try to picture myself from an external view point. <br>
          <p>
            But the question is, is it me, or is it me after half a life of depression? How did it shape my habits? What did depression do to my behavior? To my relationship to others, to myself. </p> 
            Even though I'm free of depression. How much of me<i>is depression?</i>  
          </p>
        </div>
        <div class="container">
            <p> 
              Sometimes I feel it. When I stay up late on the computer, when I walk alone in winter, when I'm tired, or upset. <br>
              It's not depression, it's blues, it's fatigue.<br>
              But I feel it. Creeping, lurking. When I'm in the shower, thinking about life. When a song from an old play list pops up in my shuffle.
            </p>
            <p>
              want to exist and live. But everytime I feel down I think <br> <i>Are you back for me?</i>
            </p>
        </div>
        <ul>
          <li><a href="/survival">Index</a></li>
        </ul>
    </body>
</html>
